<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Prompt (Based on Paper Shredder)</title>
</head>
<body>
    <div style="max-width: 400px;">
        <div style="
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            max-width: 400px;
            padding: 1rem 0;
            border-radius: 10px;
            text-align: center;
            background: linear-gradient(to right, rgb(111,111,111), rgb(92,92,92) 4px, rgb(198,198,198) 1.5em, rgb(143,143,143) calc(100% - 30%), rgb(193,193,193) calc(100% - 1.5em), rgb(92,92,92) calc(100% - 4px), rgb(111,111,111));
            border: 1px solid #444;
            color: #444;
        ">
            <br>
            <br>
            <br>
            <p style="
            /* background: radial-gradient(circle at center, darkred, red, #222, #222); */
            background: darkred;
            padding: .25em;
            color: transparent;
            text-shadow: 0px 2px 3px rgba(180,180,180,0.5);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            ">
            Warning
            </p>
            <p style="padding: 0 2em; font-weight: normal; font-size: .8em;">
            Removing this calendar event will remove all repititions of this event.
            </p>
            <br>
            <br>
            <br>
        </div> 
        <div style="
            background: white;
            color: #262626;
            margin: 0 2em;
            box-shadow: 0 6px 10px -6px #000 inset;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            padding: 1em;
            border: 1px solid;
            border-top: none;
            /* background-size: 19px 19px; */
            background-image: url(/images/paper2.jpg);
        ">
            <br>
            <h3>
            9 O' Clock Standup
            </h3>
            <p style="color: #1d1d1d;">
            Days: T
            <br>
            Time: 9:00 AM
            <br>
            @ 6 Suite Complex
            </p>
            <br>
        </div> 
    </div>
</body>
</html>